.App {
  font-family: sans-serif;
  text-align: center;
}
table, th, td {
  border: 1px solid black;
}

table {
  border-spacing: 5px;
}
button{
  background-color:blue ;
  border-radius:20%;
  height:2em;
  width: 7em;
}
button:hover{
  cursor:pointer;
}
button:active{
  outline:none;
  border:none;
}